@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
.fallback-btn {
    all:unset;
    cursor: pointer;
    width: 302px;
    height: 67px;
    border-radius: 8px;
    background: #0635C9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fallback-btn:hover {
    background: #3e57aa;
}
.fallback-btn:focus {
    background: #617fe0;
}
.btn-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-awe{
    height: 35px;
    width: 35px;
    padding: 3px;
    color: white;
}
.btn-value{
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    /* line-height: 32px; */
    padding: 3px;
    color: white;
    margin-top: 5px;
}


@media only screen and (max-width: 1000px) {
    .fallback-btn {
        width: 250px;
        height: 60px;
        border-radius: 5px;
    }
    .icon-awe{
        height: 30px;
        width: 30px;
    }
    .btn-value{
        font-size: 30px;
        padding: 3px;
    }
  }

  
  @media only screen and (max-width: 500px) {
    .fallback-btn {
        width: 200px;
        height: 50px;
        border-radius: 5px;
    }
    .icon-awe{
        height: 25px;
        width: 25px;
    }
    .btn-value{
        font-size: 25px;
        padding: 3px;
    }
  }