@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
.content-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.content-container-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.icon-awe-check{
    width: 100px;
    height: 100px;
    color: #56D928;
    margin: 0;
}
.content-value{
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    color: #0635C9;
    margin: 0;
}

.mini-content {    
    flex: 1;
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #000000;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .content-value{
        font-size: 85px;
    }    
    .icon-awe-check{
        height: auto;
        width: 65px;
    }
    .mini-content {    
        font-size: 20px;
    }
  }
  
@media only screen and (max-width: 500px) {
    .content-value{
        font-size: 50px;
    }    
    .icon-awe-check{
        width: 30px;
        height: 30px;
    }
    .mini-content {    
        font-size: 10px;
    }
  }