@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
.content-two{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.content-two-value{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 50px;
}
.content-two-value-a{
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    color: #000000;
    margin: 0;
}
.content-two-value-b{
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin: 0 10px;
}

.content-container-two{
    margin: 0;    
    width: 469px;
    padding-left: 50px;
    border-left: 3px solid rgb(190, 188, 188);
}

.content-container-two-a {
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    color: #0635C9;
    margin: 0;
}
.content-container-two-b {
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .content-two {
      flex-direction: column;
    }
    .content-two-value{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-right: 50px;
        align-items: center;
    }
    .content-two-value-a {
        font-size: 65px;
        margin: 0;
    }
    .content-two-value-b { 
        font-size: 20px;
        margin: 0 0 20px;
    }
    .content-container-two{
        margin: 0;    
        width: 380px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 3px solid rgb(190, 188, 188);
        border-right: 3px solid rgb(190, 188, 188);
    }
    
    .content-container-two-a {
        font-size: 35px;
        color: #0635C9;
        margin: 0;
    }
    .content-container-two-b {
        flex: 1;
        font-size: 20px;
        color: #000000;
        margin: 0;
    }
  }


  @media only screen and (max-width: 500px) {
    .content-two {
      flex-direction: column;
    }
    .content-two-value{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-right: 50px;
        align-items: center;
    }
    .content-two-value-a {
        font-size: 45px;
        margin: 0;
    }
    .content-two-value-b { 
        font-size: 13px;
        margin: 0 0 30px;
    }
    .content-container-two{
        margin: 0;    
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid rgb(190, 188, 188);
        border-right: 1px solid rgb(190, 188, 188);
    }
    
    .content-container-two-a {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .content-container-two-b {
        flex: 1;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
        margin: 0;
    }
  }