@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255, .7);
    height: 50px;
}
img.logo-img{
    width: 48px;
    height: auto;
}
.logo-container-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.main-name {
    margin-top: 7px;
}
.logo-container{
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #0635C9;
}
.nav-bar-links{
    display: flex;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}
.nav-links-items {
    padding-right: 10px;
}
.company-link, .shop-link, .join-us-link, .faqs-link, .blog-link {
    margin: 20px;
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 13.5px;
    color: #000000;
}
.search, .cart {    
    padding: 20px;
    cursor: pointer;
}
.cart{
    color: black;
}
.nav-icons{
    border-left: 0.3px solid #A8A2A2;
    padding-left: 20px;
}


/* dropdown components */

.dropbtn {
    border: none;
    cursor: pointer;
    width: 80px;
  }  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
    margin-top: -15px;
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 13.5px;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: rgb(55, 196, 55);
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #e1e9e2;
    color: rgb(55, 196, 55);
    height: 30px;
    border-radius: 10px;
  }
  button {
      all: unset;
  }

  .comp-container {
      text-align: center;
      width: 80px;
  }
a {
    text-decoration: none;
}