@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
.NavBar-Responsive{
    display: flex;
    background-color: rgb(255, 255, 255, .7);
    height: 50px;
    padding: 10px;
}
img.logo-img-responsive{
    width: 45px;
    height: 40px;
}
.logo-container-cont-responsive {
    display: flex;
}
.logo-container-responsive{
    flex: 1;
    order: 2;
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #0635C9;
}
.nav-bar-links-responsive{
    flex: .5;
    order: 1;
    display: flex;
    margin-right: 150px;
}

.menu-bar-responsive {
    all:unset;
    cursor: pointer;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar-responsive:focus {
    background: #617fe0;
}
.click-menu-bar-responsive{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bar-value{
    background-color: rgb(86, 172, 143);
    border-radius: 5px;
}
.menu-bar-value:hover{
    background-color: rgb(190, 225, 241);
}