@font-face {
    font-family: LeagueSpartan;
    src: url(../../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

/* .MuiDrawer-paperAnchorTop {
    margin-top: 70px;
} */

.main-content{
    height: 130vw;
}

.search-cart-items {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 20px;
}
.search-item {
    flex: 1;
    width: 85vw;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    padding: 10px;
}
.search-icon{
    padding: 3px;
}
.search-ite{
    all:unset;
    padding-left: 10px;
    font-size: 15px;
}
.cart-item {
    padding-left: 20px;
}
#divider-1 {
    margin-left:6%;
    margin-right: 6%
}
#company {
    margin-left: 4%;
    width: 85vw;
    color: #000000;
}
.accordion {
    border-radius: none;
    border: none;
    color: #000000;
}
.accordion:hover {
    border: none;
}
.accordion-item {
    border-radius: none;
    border: none;
    color: #000000;
}
.accordion-header {    
    all: unset;
    /* width: 80px; */
    font-family: 'LeagueSpartan';
    font-style: normal;
    font-weight: 300;
    font-size: 13.5px;
    color: #000000;
    border: none;
    width: 90vw;
}
.accordion-body {
    border-radius: none;
    border: none;
    padding: 0;
    width: 86vw;
    color: #000000;
}
.accordion-button {  
    border-radius: none;
    all: unset;
    width: 86vw;
    height: 40px;
    border: none;
    padding: 5px;
    color: #000000;
}
.accordion-button:hover{    
    background-color: rgb(190, 225, 241);
    color: green;
    width: 86vw;
    border-radius: 10px;
}
#list-item {
    margin-left: 6px;
    color: #000000;
    padding: 15px;
}
a{
    text-decoration: none;
}
#list-item:hover{
    background-color: rgb(190, 225, 241);
    color: green;   
    width: 87vw;
    border-radius: 10px;
    cursor: pointer;
}
#divider-2{
    align-items: center;
    margin-left: 6px;
    color: #000000;
}


#comp-icon {
    display: flex;
    /* align-items: center; */
}
#ico-starts {
    padding-left: 5px;
}
/* .MuiButton-root{
    height: 10px;
    width: 100px;
    padding: 0;
    margin: 0;
} */
#bars-menu{
    height: 30px;
    width: auto;
    color: white;
}
/* .main-item-container{
    margin: 0;
    padding: 0;
} */