body{
  background-image: url("./staticIMG/logo-socialiga.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}
.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97%;
  margin: 0;
  padding: 0;
}

.content-one-body, .content-two-body, .content-three-body {
  /* flex: 1; */
  padding: 40px;
}
.content-one-body{
  margin: 5% 0 0 0;
}
.content-two-body{
  margin: 0;
}
.nav-pos-responsive{
  display: none;
}
@media only screen and (max-width: 1200px) {
.nav-pos {
  display: none;
}
.nav-pos-responsive{
  display: block;
}
}